<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="logo da aba">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title>Carlos Pinheiro</title>
</head>
<body>

  <i class="bi bi-list menu-mobile"></i>

    <aside id="header" >
        <section class="profile">
            <img src="../static/img/perfil.PNG" alt="Foto do Carlos">
            <h1>Carlos Pinheiro</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href=" https://www.linkedin.com/in/carlospinheiro2021
                ">
                <i class="bi bi-linkedin"></i>
            </a>
                <a target="_blank" href="https://github.com/Mr1984-Pinheiro">
                    <i class="bi bi-github"></i>
                </a>                  
            </div>

            <nav id="navbar" class="nav-menu">
                <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-house"></i>Início</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#sobre"><i class="bi bi-person"></i>Sobre</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#habilidades"><i class="bi bi-list-check"></i>Habilidades</a>
                    </li>                    
                    <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="#curriculo"><i class="bi bi-file-earmark"></i>Currículo</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#portifolio"><i class="bi bi-collection" aria-hidden="true"></i> Portifólio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#contato"><i class="bi bi-envelope" aria-hidden="true"></i>Contato</a>
                    </li>                    
                  </ul>
            </nav>
        </section>
    </aside>

    <main id="main">
      <div class="opa"></div>
      <section id="inicio" class="row m-0 p-0" >
        <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
          <h2 class="text-white text-shadow" >Carlos Pinheiro</h2>
          <span id="subtitle" class="text-white text-shadow " >Desenvolvedor, Entusiasta e Sonhador</span>
        </div>

        <div class="col-md-7 d-flex justify-content-end align-items-end" >
          <div id="arraste" class="d-flex align-items-center">

            <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
            <a href="#sobre">Arraste para mais</a>
          </div>
        </div>
      </section>

    </div>

      <section class="container mt-5" id="sobre">
        <div class="row w-100">
          <div class="col-md-12" data-anime="down">
            <h2 class="pt-3">Sobre</h2>
            <p>Eu sou Programador Front-end e tenho experiência na criação de aplicações Web.

              No Front-end tenho experiência e conhecimento em HTML, CSS, JavaScript, React, TypeScript, Styled-components, Bootstrap e Material-UI. Estou constantemente criando aplicações web responsivas com essas tecnologias e além do desenvolvimento profissional procuro me desenvolver no âmbito pessoal buscando sempre mais conhecimentos. 

              Atualmente estou trabalhando como freelancer desenvolvendo aplicações com as tecnologias citadas acima.</p>
          </div>

          <div class="row mt-4">
              <div class="col-md-4 mb-4" >
                <img class="img-fluid shadow foto" src="../static/img/perfil3.png" alt="Foto do Carlos" data-anime="left">
              </div>
              <div class="col-md-8" data-anime="right">
                <h3>Desenvolvedor Front-end</h3>
                <p>Eu sou freelancer, estudo engenharia da computação, faço projetos pessoais, projetos para conhecidos, amigos e estou aberto a qualquer novo projeto.

                  Atualmente trabalho criando aplicações utilizando HTML, CSS, JavaScript em React. </p>

                  <div class="row ">
                    <div class="col-md-6">
                      <ul class="list-group list-group-flush fs-6">
                        <li class="list-group-item">
                          Niver: <span class="fw-lighter">01 de Maio de 1984</span>
                        </li>
                        <li class="list-group-item">
                          Idade: <span class="fw-lighter">38 anos</span>
                        </li>
                        <li class="list-group-item">
                          Cidade: <span class="fw-lighter">São Paulo</span>
                        </li>
                        <li class="list-group-item">
                          Estado: <span class="fw-lighter">São Paulo</span>
                        </li>

                      </ul>
                    </div>
                    <div class="col-md-6">
                      <ul class="list-group list-group-flush fs-6">
                        <li class="list-group-item">
                          Hobby: <span class="fw-lighter">Tocar instrumento musical</span>
                        </li>
                        <li class="list-group-item">
                          Site: <a href="/" 
                          target="_blank"
                          class="fw-lighter text-decoration-none link-dark"
                          >eluxc3web</a>
                        </li>
                        <li class="list-group-item">
                          Trabalho: <span class="fw-lighter">Autônomo-Freelancer</span>
                        </li>
                        <li class="list-group-item">
                          Experiência: <span class="fw-lighter">+1 ano</span>
                        </li>                        
                      </ul>
                    </div>
                    <p class="mt-3">Entusiasta da tecnologia, acredito que através da educação podemos transformar a realidade social e econômica do ser humano. Ao me consolidar na carreira sonho a longo prazo ser especialista em engenharia de software frontend. Anseio também,
                       investir no ensino de programação web com qualidade e acessível para todas as pessoas.</p>
                  </div>
              </div>
          </div>

        </div>
      </section>

      <section class="mt-5 section-bg"  id="habilidades">

          <div class="container pb-5">
              <h2 class="pt-5">Habilidades</h2>
              <p>Em todo tempo como profissional de tecnologia eu adquiri algumas habilidades técnicas e não técnicas,
                a maioria delas estão aqui, de acordo com a porcentagem de conhecimento que acredito ter em cada uma delas.
              </p>

              <div class="row">
                <div class="col-md-6">
                  <p class="mt-3 mb-0" >HTML</p>
                  <div class="progress">
                    <div 
                    class="progress-bar" 
                    role="progressbar" style="width: 72%;" 
                    aria-valuenow="72" 
                    data-anime="left"
                    aria-valuemin="0" 
                    aria-valuemax="100">
                    72%
                  </div>
                  </div>
                    <p class="mt-3 mb-0" >CSS</p>
                      <div class="progress">
                        <div 
                            class="progress-bar" 
                            role="progressbar" style="width: 72%;" 
                            aria-valuenow="72" 
                            data-anime="left"
                            aria-valuemin="0" 
                            aria-valuemax="100">
                            72%
                        </div>
                      </div>
                      <p class="mt-3 mb-0" >Javascript</p>
                      <div class="progress">
                        <div 
                            class="progress-bar" 
                            role="progressbar" style="width: 56%;" 
                            aria-valuenow="56" 
                            data-anime="left"
                            aria-valuemin="0" 
                            aria-valuemax="100">
                            56%
                        </div>
                      </div>
                      <p class="mt-3 mb-0" >Python</p>
                      <div class="progress">
                        <div 
                            class="progress-bar" 
                            role="progressbar" style="width: 14%;" 
                            data-anime="left"
                            aria-valuenow="14" 
                            aria-valuemin="0" 
                            aria-valuemax="100">
                            14%
                        </div>
                      </div>
                      <p class="mt-3 mb-0" >Git</p>
                      <div class="progress">
                        <div 
                            class="progress-bar" 
                            role="progressbar" style="width: 35%;" 
                            data-anime="left"
                            aria-valuenow="35" 
                            aria-valuemin="0" 
                            aria-valuemax="100">
                            35%
                        </div>
                      </div>
                      <p class="mt-3 mb-0" >PHP</p>
                      <div class="progress">
                        <div 
                            class="progress-bar" 
                            role="progressbar" style="width: 33%;" 
                            data-anime="left"
                            aria-valuenow="33" 
                            aria-valuemin="0" 
                            aria-valuemax="100">
                            33%
                        </div>
                      </div>
                      <p class="mt-3 mb-0" >Deploy</p>
                      <div class="progress">
                        <div 
                            class="progress-bar" 
                            role="progressbar" style="width: 21%;" 
                            data-anime="left"
                            aria-valuenow="21" 
                            aria-valuemin="0" 
                            aria-valuemax="100">
                            21%
                        </div>
                      </div>
                </div>
                <div class="col-md-6">
                        <p class="mt-3 mb-0" >Angular</p>
                        <div class="progress">
                          <div 
                              class="progress-bar" 
                              role="progressbar" style="width: 7%;"
                              data-anime="left" 
                              aria-valuenow="7" 
                              aria-valuemin="0" 
                              aria-valuemax="100">
                              7%
                          </div>
                        </div>
                        <p class="mt-3 mb-0" >ReactJs</p>
                      <div class="progress">
                        <div 
                            class="progress-bar" 
                            role="progressbar" style="width: 56%;" 
                            data-anime="left"
                            aria-valuenow="56" 
                            aria-valuemin="0" 
                            aria-valuemax="100">
                            56%
                        </div>
                      </div>
                      <p class="mt-3 mb-0" >NodeJs (Express)</p>
                      <div class="progress">
                        <div 
                            class="progress-bar" 
                            role="progressbar" style="width: 14%;" 
                            data-anime="left"
                            aria-valuenow="14" 
                            aria-valuemin="0" 
                            aria-valuemax="100">
                            14%
                        </div>
                      </div>
                      <p class="mt-3 mb-0" >TypeScript</p>
                      <div class="progress">
                        <div 
                            class="progress-bar" 
                            role="progressbar" style="width: 56%;" 
                            data-anime="left"
                            aria-valuenow="56" 
                            aria-valuemin="0" 
                            aria-valuemax="100">
                            56%
                        </div>
                      </div>
                      <p class="mt-3 mb-0" >Bootstrap</p>
                      <div class="progress">
                        <div 
                            class="progress-bar" 
                            role="progressbar" style="width: 49%;" 
                            data-anime="left"
                            aria-valuenow="49" 
                            aria-valuemin="0" 
                            aria-valuemax="100">
                            49%
                        </div>
                      </div>
                      <p class="mt-3 mb-0" >Style-components</p>
                      <div class="progress">
                        <div 
                            class="progress-bar" 
                            role="progressbar" style="width: 28%;"
                            data-anime="left" 
                            aria-valuenow="28" 
                            aria-valuemin="0" 
                            aria-valuemax="100">
                            28%
                        </div>
                      </div>
                      <p class="mt-3 mb-0" >Material-UI</p>
                      <div class="progress">
                        <div 
                            class="progress-bar" 
                            role="progressbar" style="width: 28%;"
                            data-anime="left" 
                            aria-valuenow="28" 
                            aria-valuemin="0" 
                            aria-valuemax="100">
                            28%
                        </div>
                      </div>
                </div>
              </div>

              <br>

              <hr class="w-50 me-auto ms-auto">

              <div class="row">
                <div class="col-md-6">
                  <p class="mt-3 mb-0" >Trabalho em equipe</p>
                  <div class="progress">
                    <div 
                        class="progress-bar" 
                        role="progressbar" style="width: 91%;" 
                        data-anime="left"
                        aria-valuenow="91" 
                        aria-valuemin="0" 
                        aria-valuemax="100">
                        91%
                    </div>
                  </div>

                  <p class="mt-3 mb-0" >Proatividade</p>
                      <div class="progress">
                        <div 
                            class="progress-bar" 
                            role="progressbar" style="width: 93%;" 
                            data-anime="left"
                            aria-valuenow="93" 
                            aria-valuemin="0" 
                            aria-valuemax="100">
                            93%
                        </div>
                      </div>

                      <p class="mt-3 mb-0" >Orientação a detalhes</p>
                      <div class="progress">
                        <div 
                            class="progress-bar" 
                            role="progressbar" style="width: 70%;" 
                            data-anime="left"
                            aria-valuenow="70" 
                            aria-valuemin="0" 
                            aria-valuemax="100">
                            70%
                        </div>
                      </div>

                </div>
                <div class="col-md-6">

                  <p class="mt-3 mb-0" >Comunicação</p>
                      <div class="progress">
                        <div 
                            class="progress-bar" 
                            role="progressbar" style="width: 91%;" 
                            data-anime="left"
                            aria-valuenow="91" 
                            aria-valuemin="0" 
                            aria-valuemax="100">
                            91%
                        </div>
                      </div>

                      <p class="mt-3 mb-0" >Empatia</p>
                      <div class="progress">
                        <div 
                            class="progress-bar" 
                            role="progressbar" style="width: 84%;" 
                            data-anime="left"
                            aria-valuenow="84" 
                            aria-valuemin="0" 
                            aria-valuemax="100">
                            84%
                        </div>
                      </div>

                      <p class="mt-3 mb-0" >Comprometimento</p>
                      <div class="progress">
                        <div 
                            class="progress-bar" 
                            role="progressbar" style="width: 97%;" 
                            data-anime="left"
                            aria-valuenow="97" 
                            aria-valuemin="0" 
                            aria-valuemax="100">
                            97%
                        </div>
                      </div>

                </div>
              </div>

          </div>

      </section>

      <section class="mt-5 cv" id="curriculo">
         <div class="container pb-5">
            <h2 class="pt-3 pb-4">Currículo</h2>

            <div class="row">
              <div class="col-md-6">
                  <h3 class="cv-title">Educação</h3>
  
                  <div class="cv-item" data-anime="up">
                      <h4>Bacharelado em Engenharia de Computação</h4>
                      <h5>2017 - 2022</h5>
                      <p><em>Universidade Virtual do Estado de São Paulo</em></p>
                      <p>Formação acadêmica de 5 anos que capacita dentre outras atividades, 
                        análise, planejamento e desenvolvimento de sistemas computacionais 
                        centralizados e distribuídos, sistemas embarcados, desenvolvimento e 
                        uso de tecnologias de comunicação, sistemas multimídia e hipermídia, 
                        redes de computadores, bem como gestão de sistemas industriais e
                         comerciais e de empresas de computação.</p>
                  </div >
                  <div class="cv-item" data-anime="up">
                    <h4>Treinamento e Desenvolvimento de Software</h4>
                    <h5>2021 - 2022</h5>
                    <p><em>B7web Treinamento e desenvolvimento de Software LTDA</em></p>
                    <p>Recebi conceitos, teorias e tecnologias que fundamentam na construção de desenvolvimento
                      front-end responsivos</p>
                  </div>                  
  
              </div>
              <div class="col-md-6">
                  <h3 class="cv-title" >Profissional</h3>
  
                  <div class="cv-item" data-anime="up">
                    <h4>Desenvolvedor Front-end de Websites</h4>
                    <h5>2022 - Atual</h5>
                    <p><em>Autônomo-Freelancer</em></p>
                    <p>Atuando de forma autoditada venho trabalhando como desenvolvedor 
                      front-end de websites com portais,
                       sites institucionais, e-commerces e outros tipos de aplicações web.</p>
                  </div>
                  <div class="cv-item" data-anime="up">
                    <h4>Desenvolvedor</h4>
                    <h5>junho/2022 - julho/2022</h5>
                    <p><em>GDL Pinturas</em></p>
                    <p>Atuei na criação e desenvolvimento do site <a target="_blank" href="https://www.gdlpinturas.com.br/">GDL Pinturas</a> do profissional MEI 
                      que ofereçe serviços de pintura em geral. Foi o meu primeiro trabalho utilizando 
                      a biblioteca React para a interface do usuário. 
                    </p>
                  </div>                  
  
              </div>
           </div>
         </div>
      </section>

      <section id="portifolio" class="section-bg mt-5">
        <div class="container pb-5 pt-5" data-anime="left">
              <h2 class="pb-4">Portifólio</h2>

              <div id="carouselPortifolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselPortifolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselPortifolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    </div>
                  <div class="carousel-inner">

                  <div class="carousel-item active" data-bs-interval="10000">
                    
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                          <div class="col">
                            <div class="card">
                              <img src="../static/img/programação.jpg" class="card-img-top" alt="just another image">
                              <div class="card-body">
                                      <h5 class="card-title">Plataforma Educacional</h5>
                                      <p class="card-text">Plataforma educacional criado fuulstackmente com MySQL, Spring e Angular. 
                                        acesso restrito, apenas pessoas autorizadas.
                                      </p>
                                        <div class="d-flex justify-content-center">
                                            <a href="http://generationbrasil.online/#/login"
                                            target="_blank"
                                            class="btn btn-outline-primary"
                                            ><i class="bi bi-link-45deg"></i></a>
                                          </div>
                              </div>
                            </div>
                          </div>

                      <div class="col">
                        <div class="card">
                          <img src="../static/img/programação.jpg" class="card-img-top" alt="just another image">
                          <div class="card-body">
                            <h5 class="card-title">Plataforma Educacional</h5>
                            <p class="card-text">Plataforma educacional criado fuulstackmente com MySQL, Spring e Angular. 
                              acesso restrito, apenas pessoas autorizadas.
                            </p>
                            <div class="d-flex justify-content-center">
                              <a href="http://generationbrasil.online/#/login"
                                  target="_blank"
                                  class="btn btn-outline-dark me-3"
                                  ><i class="bi bi-github"></i></a>
                                  <a href="http://generationbrasil.online/#/login"
                                  target="_blank"
                                  class="btn btn-outline-primary"
                                  ><i class="bi bi-link-45deg"></i></a>                                  
                           </div>
                          </div>
                        </div>
                      </div>

                      <div class="col">
                        <div class="card">
                          <img src="../static/img/programação.jpg" class="card-img-top" alt="just another image">
                          <div class="card-body">
                            <h5 class="card-title">Plataforma Educacional</h5>
                            <p class="card-text">Plataforma educacional criado fuulstackmente com MySQL, Spring e Angular. 
                              acesso restrito, apenas pessoas autorizadas.
                            </p>
                            <div class="d-flex justify-content-center">
                              <a href="http://generationbrasil.online/#/login"
                                  target="_blank"
                                  class="btn btn-outline-dark me-3"
                                  ><i class="bi bi-github"></i></a>
                                  <a href="http://generationbrasil.online/#/login"
                                  target="_blank"
                                  class="btn btn-outline-primary"
                                  ><i class="bi bi-link-45deg"></i></a>
                              </div>
                            </div>
                            
                          </div>

                        </div>             
                                                    
                </div>        
                
                  </div>

                  <div class="carousel-item" data-bs-interval="2000">               
                      
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                      <div class="col">
                        <div class="card">
                          <img src="../static/img/programação.jpg" class="card-img-top" alt="just another image">
                          <div class="card-body">
                                  <h5 class="card-title">Plataforma Educacional</h5>
                                  <p class="card-text">Plataforma educacional criado fuulstackmente com MySQL, Spring e Angular. 
                                    acesso restrito, apenas pessoas autorizadas.
                                  </p>
                                    <div class="d-flex justify-content-center">
                                        <a href="http://generationbrasil.online/#/login"
                                        target="_blank"
                                        class="btn btn-outline-primary"
                                        ><i class="bi bi-link-45deg"></i></a>
                                      </div>
                          </div>
                        </div>
                      </div>

                  <div class="col">
                    <div class="card">
                      <img src="../static/img/programação.jpg" class="card-img-top" alt="just another image">
                      <div class="card-body">
                        <h5 class="card-title">Plataforma Educacional</h5>
                        <p class="card-text">Plataforma educacional criado fuulstackmente com MySQL, Spring e Angular. 
                          acesso restrito, apenas pessoas autorizadas.
                        </p>
                        <div class="d-flex justify-content-center">
                          <a href="http://generationbrasil.online/#/login"
                              target="_blank"
                              class="btn btn-outline-dark me-3"
                              ><i class="bi bi-github"></i></a>
                              <a href="http://generationbrasil.online/#/login"
                              target="_blank"
                              class="btn btn-outline-primary"
                              ><i class="bi bi-link-45deg"></i></a>                                  
                       </div>
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="card">
                      <img src="../static/img/programação.jpg" class="card-img-top" alt="just another image">
                      <div class="card-body">
                        <h5 class="card-title">Plataforma Educacional</h5>
                        <p class="card-text">Plataforma educacional criado fuulstackmente com MySQL, Spring e Angular. 
                          acesso restrito, apenas pessoas autorizadas.
                        </p>
                        <div class="d-flex justify-content-center">
                          <a href="http://generationbrasil.online/#/login"
                              target="_blank"
                              class="btn btn-outline-dark me-3"
                              ><i class="bi bi-github"></i></a>
                              <a href="http://generationbrasil.online/#/login"
                              target="_blank"
                              class="btn btn-outline-primary"
                              ><i class="bi bi-link-45deg"></i></a>
                          </div>
                        </div>
                        
                      </div>

                    </div>             
                                                
            </div>        

                  </div>  
                  </div>  

                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortifolio" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselPortifolio" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
              </div>
        </div>

      </section>

      <section class="pt-5 pb-5 " id="contato">

        <div class="container mb-5 text-center">
          <h2 class="pt-3 pb-3">Contato</h2>

          <div class="row d-flex justify-content-center">

            <div class="col-md-6">
              <div class="card p-5 shadow border-0" data-anime="up">
                <div class="endereco">
                    <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                    <p>São Paulo - SP</p>
                </div>

                <div class="email">
                    <h4><i class="bi bi-envelope"></i> Email:</h4>
                    <p>devcrer.rm122@gmail.com</p>
                </div>

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3654.8058119594707!2d-46.64598598780218!3d-23.647124431040023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5add5cb1ea19%3A0xaf1809e44c2de978!2sJabaquara!5e0!3m2!1spt-BR!2sbr!4v1667020114321!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" class="w-100" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
          </div>

        </div>

      </section> 
    
    </main>

    <footer id="footer">
        <div class="container">
          <div class="text-center">
            &copy; Copyright <strong>Dev Carlos PInheiro</strong>
          </div>
        </div>
    </footer>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js" ></script>
    <script src="../static/script.js"></script>
</body>
</html>